 :root {
    --background-color: rgb(220, 220, 220);
    --text-color: rgb(58, 58, 58);
    --blue: rgb(14, 14, 129);
    --white: rgb(217, 217, 217);
    font-family: sans-serif;
 }
 
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
 }
 
 .container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 4fr;
    min-height: 100vh;
    /* gap: 20px; */
 }

 .sidebar {
    background: var(--blue);
    grid-row: 1 / 3;
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px repeat(11, 60px);
    padding-left: 30px;
    font-size: 18px;
    font-weight: 700;
 }

 .sidebar img {
    filter:invert(100%);
    width: 30px;
 }

 

 .sidebar > div {
    display: flex;
    align-items: center;
    gap: 30px;
 }

 .dashboard-logo {
    align-self: baseline;
    margin-top: 30px;
    font-size: 30px;
 }

 .header {
    grid-area: 1 / 2 / 2 / 4;
    background: white;
    box-shadow: 2px 2px 6px rgba(143, 143, 143, 0.634);
    padding: 20px;
    /* border-radius: 8px; */
    /* margin-right: 20px; */
    /* margin-top: 20px; */
 }

 .header-bar-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto auto auto auto;
    gap: 25px;
    padding: 20px;
    align-items: center;
 }

 .header-bar-container img {
    width: 25px;
 }

 .header-bar-container input {
    margin-right: 200px;
    border-radius: 30px;
    border: none;
    background: rgb(236, 236, 236);
    height: 40px;
    padding: 15px;
    font-size: 20px;
 }
 
 .header-nav-container {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    align-items: center;
    gap: 40px;
    padding: 20px;
 }
 .header-nav-container img {
    width: 80px;
 }

 .header-nav-container button {
    width: 120px;
    height: 50px;
    text-align: center;
    background: var(--blue);
    border: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
 } 

 .main-content {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
 }

 .projects-container {
    grid-row: 1 / 3;
 }

 .projects-container, .announcements-container, .trending-container {
    padding: 40px;
 }

 .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    margin-top: 20px;
    
 }

 .card {
    background: white;
    min-height: 15rem;
    display: grid;
    align-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.243);;
 }

 .card .text {
    justify-self:baseline;
 }

 .card .text p {
    margin-top: 10px;
 }

 .card .icons {
    justify-self: end;
 }

 .card .icons img {
    width: 30px;
    margin: 15px;
 }
